version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: dockerfile
        container_name: laravel_app
        ports:
            - "8000:8000"
        volumes:
            - .:/var/www
        depends_on:
            - mysql
        environment:
            - DB_HOST=mysql
            - DB_PORT=3306
            - DB_DATABASE=railway
            - DB_USERNAME=root
            - DB_PASSWORD=rzSYCapyaYynUUSJGLwZpAqaEOFtraHq

    mysql:
        image: mysql:8
        container_name: mysql_db
        ports:
            - "3306:3306"
        environment:
            MYSQL_DATABASE: railway
            MYSQL_ROOT_PASSWORD: rzSYCapyaYynUUSJGLwZpAqaEOFtraHq
        volumes:
            - mysql_data:/var/lib/mysql

volumes:
    mysql_data:
